<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   >
   
  <!-- BEGIN : Head-->
  <div th:replace="fragments/header :: header">
	</div>
  <!-- END : Head-->

  <!-- BEGIN : Body-->
  <body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
				 
				 <!-- main menu-->
				<div th:replace="fragments/sidebar :: sidebar">
   				</div>
              	<!-- main menu-->

     
      
     <!-- Navbar (Header) Starts-->
      <div th:replace="fragments/navbar :: navbar">
 </div>
    <!-- Navbar (Header) Ends-->

      <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
          <div class="content-wrapper"><!-- Fabs (Floating Action Buttons) in cards start -->


            <!-- Content types section start -->
<section id="content-types">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <div class="content-header">Teams > My Team > Info :</div>
        <p class="content-sub-header">        </p>
      </div>
    </div>
  
    <div class="row match-height">
      <div class="col-lg-8" style="float:none;margin:auto;" align = "center"  th:if="${team.fullname == 'Manchester United'}" th:each="team : ${team}" >
      
        <div class="card half-width" >
          <div class="card-content">
              <div class="card-img" align = "center"  >
             
            <img class="card-img-top  img-fluid  half-width"   style="margin-top:20px;"   th:src="${team.logo_URL}" alt="Card image cap" >
                </div>
            <div class="card-body">
              <h2 class="card-title" align = "center"> </br> <strong th:text="${team.fullname}"> </strong></br></br> </h2>

              <p class="card-text">          </p>
             
              <ul class="list-group">
                <li class="list-group-item">
                   Nick Name : &nbsp; <span th:text="${team.team_nickname}"> </span>
                </li>
                <li class="list-group-item">
                    Founded : &nbsp; <span th:text="${team.team_founded}"> </span>
                </li>
                <li class="list-group-item">
                    Owner : &nbsp;  <span th:text="${team.team_owner}"> </span>
                </li>
                
                
                
               

                <li class="list-group-item">
                    League : &nbsp;  <span th:text="${team.team_league}"> </span>
                </li>
              </ul>
              
            </div>
            <div class="card-footer border-top-0">
               
                <button type="button" class="btn btn-outline-green" data-toggle="modal"
                 th:attr="data-target='#bootstrap'+*{team.id}"
                    >Modify Team</button>&nbsp;
                   
                   
                    <!-- Modal -->
                    <div class="modal fade text-left" th:id="*{'bootstrap'+{team.id}}"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel35"
                    aria-hidden="true">
                    <form class="form" action="/updateteam" novalidate>
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="myModalLabel35">Modify Team</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                         
                          <div class="modal-body" >
                          
                           <div class="form-group">
                            <input  type="hidden" th:value="${team.id}" class="form-control" id="id" name="id"/>
                        </div>
                           
                           
                            <fieldset class="form-group floating-label-form-group" novalidate>
                              <label>Team Name <span class="required">*</span></label>
                              <div class="controls">
                             <input type="text" th:value="${team.fullname}" name="fullname"  class="form-control" 
                             required data-validation-required-message="This field is required" disabled>
                             </div>
                            </fieldset>
                            
                            
                            <fieldset class="form-group floating-label-form-group">
                              <label>Team NickName <span class="required">*</span></label>
                              <div class="controls">
                             <input type="text"  th:value="${team.team_nickname}" name="team_nickname"  class="form-control" required data-validation-required-message="This field is required">
                             </div>
                            </fieldset>
                            
                            
                            <fieldset class="form-group floating-label-form-group">
                             <label>Founding Date <span class="required">*</span></label>
                              <div class="controls">
                             <input type="text" th:value="${team.team_founded}" name="team_founded"  class="form-control" required data-validation-required-message="This field is required">
                             </div>
                            </fieldset>
                            
                             <fieldset class="form-group floating-label-form-group">
                             <label>Owner <span class="required">*</span></label>
                              <div class="controls">
                             <input type="text" th:value="${team.team_owner}" name="team_owner" class="form-control" required data-validation-required-message="This field is required">
                             </div>
                            </fieldset>
                            
                             <fieldset class="form-group floating-label-form-group">
                             <label>Team league <span class="required">*</span></label>
                              <div class="controls">
                             <input type="text" th:value="${team.team_league}" name="team_league" class="form-control" required data-validation-required-message="This field is required">
                             </div>
                            </fieldset>
                            
                             <fieldset class="form-group floating-label-form-group">
                             <label>Logo <span class="required">*</span></label>
                              <div class="controls ">
                    			<input type="text" th:value="${team.logo_URL}"  name="logo_URL"  class="form-control" 
                    			required data-validation-required-message="This field is required">
                      
                				  </div>
                            </fieldset>
                            
                            
                          </div>
                          
                          <div class="modal-footer" >
                             <button type="reset" class="btn btn-raised btn-warning mr-1">
                			  <i class="fa fa-refresh"></i> Reset
               				 </button>
                
                   
                			
              				  <button type="submit" class="btn btn-raised btn-primary">
                 			 <i class="fa fa-check-square-o" value="save"></i> Save
               				 </button>
               				
                          </div>
                        
                      </div>
                    </div>
                     </form>
                  </div>
                   <!-- Modal -->
                  
                   
                <a class="btn btn-outline-red" href="/our-players" role="button">Players List</a> &nbsp; 
                <a class="btn btn-outline-dark" href="/our-staff" role="button">Staff List</a>
            </div>
            </div>
          </div>
        </div>

        
      </div>      
    </div>


   
  
  </section>
  <!-- Content types section end -->






   </div>
      
       <!-- BEGIN : Footer-->
      <div th:replace="fragments/footer :: footer">
  		</div>
      
      
        <!-- End : Footer-->


       
        </div>
        <!-- END : End Main Content-->

       

      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

  <!-- Theme customizer Starts-->
    
    <div th:replace="fragments/customizer :: customizer">
    
  		</div>
    
    
   <!-- Theme customizer Ends-->
  
  
  
  
  
  
  
  
  
  
    <!-- BEGIN VENDOR JS-->
    <script src="app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
     <script src="app-assets/vendors/js/jqBootstrapValidation.js" type="text/javascript"></script>
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="app-assets/js/app-sidebar.js" type="text/javascript"></script>
    <script src="app-assets/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="app-assets/js/customizer.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="app-assets/js/components-modal.min.js" type="text/javascript"></script>
     <script src="app-assets/js/form-validation.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
  <!-- END : Body-->
</html>