<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   >
      !
  <!-- BEGIN : Head-->
       <div th:replace="fragments/header :: header">
  		</div>
  <!-- END : Head-->

  <!-- BEGIN : Body-->
  <body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">

	<!-- main menu-->
	<div th:replace="fragments/sidebar :: sidebar">
 		 </div>
	<!-- main menu-->
     
    
                  
              


       <!-- Navbar (Header) Starts-->
       <div th:replace="fragments/navbar :: navbar">
 			</div>
      <!-- Navbar (Header) Ends-->

      <div class="main-panel">
      <!-- BEGIN : Main Content-->
    <div class="main-content">
      <div class="content-wrapper"><!--Extended Table starts-->
<div class="row">
<div class="col-12">
<div class="content-header">Teams > Stadiums/Courts :</div>
<p class="content-sub-header">         </p>
</div>
</div>
<section id="text-inputs">
<div class="row">
<div class="col-12">
  <div class="card">
    <div class="card-header">
            <h4 class="card-title">Stadiums/Courts Table : </h4>
    </div>
    <div class="card-header">
            <div class="card-title" align="right">  <a  href="/newstadium"  class="btn btn-primary"  >
                    										<i class="ft-file-plus font-medium-2 mr-6"> Create New Stadium/Court</i>
                 																	 </a> 
                 																	 
           </div>
    </div>
          <div class="card-content ">
            <div class="card-body ">
            
             <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1"
                      aria-expanded="true">Football</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false">Handball</a>
                     
                  </li>
                 
                  
                </ul>


 <div class="tab-content px-1 pt-1">
                  <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
            
            </br>
            
            <table class="table text-inputs-searching">
                <thead>
                  <tr>
                    
                     <th><i class="ft-image font-small-3 mr-2"></i>Logo</th>
                     
                    <th><i class="ft-info font-small-3 mr-2"></i> Stadium Name</th>
                    <th><i class="ft-info font-small-3 mr-2"></i> Placement</th>
                    <th><i class="ft-info font-small-3 mr-2"></i> Capacity</th>
                   
                    <th><i class="ft-info font-small-3 mr-2"></i> Stadium Team</th>
                   
                    
      
     							 <th><i class="ft-edit-3 font-small-3 mr-2"></i>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:if="${stadium.team_fullname != 'Manchester United' and stadium.descipline == 'football'}" th:each="stadium : ${stadium}">
                  
                    <td>
               <img  class="center"   style="display:block; margin-left:auto; margin-right:auto;" width="250" height="150"
                th:src="${stadium.image_URL}"  > 
                </td>
                
      				 <td>
      				 <a th:text="${stadium.stadium_fullname}" th:href="@{'/show/' + ${stadium.id}}"></a>
      				 </td>
                    
                     <td th:text="${stadium.stadium_placement}">
                     </td>
                     
                      <td th:text="${stadium.stadium_capacity}">
                      </td>
                    
                    
                     <td th:text="${stadium.team_fullname}">
                     </td>
                       
                      
              
      
                   

                    
      

                   
                      
                    <td>
                    
             <div class="form-group">
           		  <form method="get" action="#">
                   <a th:href=" @{'/edit-stadium/' + ${stadium.id}} " class="btn btn-outline-blue"  >
                    <i class="ft-edit font-medium-2 mr-auto"></i>
                  </a>
                 
                  
                  <button type="button" class="btn btn-outline-danger"  data-toggle="modal"
                   th:attr="data-target='#default'+*{stadium.id}">
                    <i class="ft-x font-medium-2 mr-auto"></i>
                  </button>
  								</form>
                  <!-- Modal -->
                  <div class="modal fade text-left" th:id="*{'default'+{stadium.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel1">Confirm :</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h4><span class="text-bold-600">Warning !</span></h4>
                          
                           <div class="alert alert-danger" role="alert">
                            Are you<span class="text-bold-600"> sure</span> you want to <span class="text-bold-600">delete</span> this Stadium ?
                          </div>
                          
                          
                          
                         
                        </div>
                       
                        <div class="modal-footer">
                          <button type="button" class="btn grey btn-outline-dark" data-dismiss="modal">Close</button>
                            <form action="/deletestade">  
                           <input type="hidden" name="id" th:value="${stadium.id}" />
                          <input type="submit" class="btn btn-outline-red" value="Delete" onclick="return "/>
                          
             			 </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
         
                   
          
          
          
     
          
          
          
                      
                    </td>
                    
                  
                      
                      
                      
                      
                      
                    
                  </tr>

               
                </tbody>
              
          
              
              <tfoot>
                <tr>
                   
                    
                    <th></th>
                    <th>Stadium</th>
                    <th>Placement</th>
                    <th>Capacity</th>
                    <th>Stadium Team</th>
                   
                    <th></th>
                    
                   
                </tr>
              </tfoot>



             </table>
				</div>
				
				
			  <div class="tab-pane" id="tab2" aria-expanded="true" aria-labelledby="base-tab2">
            
            </br>
            
            <table class="table text-inputs-searching">
                <thead>
                  <tr>
                    
                     <th><i class="ft-image font-small-3 mr-2"></i>Logo</th>
                     
                    <th><i class="ft-info font-small-3 mr-2"></i> Stadium Name</th>
                    <th><i class="ft-info font-small-3 mr-2"></i> Placement</th>
                    <th><i class="ft-info font-small-3 mr-2"></i> Capacity</th>
                   
                    <th><i class="ft-info font-small-3 mr-2"></i> Stadium Team</th>
                   
                    
      
     							 <th><i class="ft-edit-3 font-small-3 mr-2"></i>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:if="${stadium.team_fullname != 'Manchester United' and stadium.descipline == 'handball'}" th:each="stadium : ${stadium}">
                  
                    <td>
               <img  class="center"   style="display:block; margin-left:auto; margin-right:auto;" width="250" height="150"
                th:src="${stadium.image_URL}"  > 
                </td>
                
      				 <td>
      				 <a th:text="${stadium.stadium_fullname}" th:href="@{'/show/' + ${stadium.id}}"></a>
      				 </td>
                    
                     <td th:text="${stadium.stadium_placement}">
                     </td>
                     
                      <td th:text="${stadium.stadium_capacity}">
                      </td>
                    
                    
                     <td th:text="${stadium.team_fullname}">
                     </td>
                       
                      
              
      
                   

                    
      

                   
                      
                    <td>
                    
             <div class="form-group">
           		  <form method="get" action="#">
                  <button type="submit" class="btn btn-outline-blue"  >
                    <i class="ft-edit font-medium-2 mr-auto"></i>
                  </button>
                 
                  
                  <button type="button" class="btn btn-outline-danger"  data-toggle="modal"
                   th:attr="data-target='#default'+*{stadium.id}">
                    <i class="ft-x font-medium-2 mr-auto"></i>
                  </button>
  								</form>
                  <!-- Modal -->
                  <div class="modal fade text-left" th:id="*{'default'+{stadium.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel1">Confirm :</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h4><span class="text-bold-600">Warning !</span></h4>
                          
                           <div class="alert alert-danger" role="alert">
                            Are you<span class="text-bold-600"> sure</span> you want to <span class="text-bold-600">delete</span> this Stadium ?
                          </div>
                          
                          
                          
                         
                        </div>
                       
                        <div class="modal-footer">
                          <button type="button" class="btn grey btn-outline-dark" data-dismiss="modal">Close</button>
                            <form action="/deletestade">  
                           <input type="hidden" name="id" th:value="${stadium.id}" />
                          <input type="submit" class="btn btn-outline-red" value="Delete" onclick="return "/>
                          
             			 </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
         
                   
          
          
          
     
          
          
          
                      
                    </td>
                    
                  
                      
                      
                      
                      
                      
                    
                  </tr>

               
                </tbody>
              
          
              
              <tfoot>
                <tr>
                   
                    
                    <th></th>
                    <th>Stadium</th>
                    <th>Placement</th>
                    <th>Capacity</th>
                    <th>Stadium Team</th>
                   
                    <th></th>
                    
                   
                </tr>
              </tfoot>



             </table>
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				

          </div>
            </div>

          </div>
        
  </div>

</div>
</div>
</section>




          </div>
     
        <!-- END : End Main Content-->

        <!-- BEGIN : Footer-->
       	<div th:replace="fragments/footer :: footer">
  		</div>
        <!-- End : Footer-->
   </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

   <!-- Theme customizer Starts-->
    
    <div th:replace="fragments/customizer :: customizer">
    
  		</div>
    
    
   <!-- Theme customizer Ends-->
   
   
   
   
   
   
   
   
   
   
   
    <!-- BEGIN VENDOR JS-->
    <script src="app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="app-assets/vendors/js/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="app-assets/js/app-sidebar.js" type="text/javascript"></script>
    <script src="app-assets/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="app-assets/js/customizer.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="app-assets/js/data-tables/datatable-api.js" type="text/javascript"></script>
        <script src="app-assets/js/components-modal.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
  <!-- END : Body-->
</html>