<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   >
      
  <!-- BEGIN : Head-->

	

	<div th:replace="fragments/header :: header">
  		</div>
  		
  		
  <!-- END : Head-->

  <!-- BEGIN : Body-->
  <body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">


     	<!-- main menu-->
	<div th:replace="fragments/sidebar :: sidebar">
 		 </div>
	<!-- main menu-->
     
     
     
     
     
     
     
     
                  
              


       <!-- Navbar (Header) Starts-->
        <div th:replace="fragments/navbar :: navbar">
			 </div>
      <!-- Navbar (Header) Ends-->

      <div class="main-panel">
      <!-- BEGIN : Main Content-->
    <div class="main-content">
      <div class="content-wrapper"><!--Extended Table starts-->
<div class="row">
<div class="col-12">
<div class="content-header">Users > Admins :</div>
<p class="content-sub-header">         </p>
</div>
</div>
<section id="text-inputs">
<div class="row">
<div class="col-12">
  <div class="card">
    <div class="card-header">
            <h4 class="card-title">Admins Table : </h4>
            <div class="card-title" align="right">  <a  href="/add-admin"  class="btn btn-primary"  >
                    										<i class="ft-file-plus font-medium-2 mr-6">  Add User</i>
                 																	 </a> 
    </div>
          <div class="card-content ">
            <div class="card-body table-responsive">
            <table class="table text-inputs-searching">
                <thead>
                  <tr>
                    
                     <th><i class="ft-image font-small-3 mr-2"></i> Avatar</th>
                     
                    <th><i class="ft-info font-small-3 mr-2"></i> Name</th>
                    <th><i class="ft-user font-small-3 mr-2"></i> Username</th>
                    <th><i class="ft-mail font-small-3 mr-2"></i> Email   </th>
                   
                    <th><i class="ft-settings font-small-3 mr-2"></i> Role</th>
                   
                    <th><i class="ft-edit-3 font-small-3 mr-2"></i> Actions</th>
      
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="admins : ${admins}">
                  
                    <td>
               <img alt="96x96" style="position:relative;" class="media-object   bg-danger height-50 rounded-circle"
                th:src="${admins.profil_pic_URL}" title="TODO" > 
                </td>
                
      				 <td>
      				 <a th:text="${admins.name}" th:href="@{'/show/' + ${admins.id}}"></a>
      				 </td>
                    
                     <td th:text="${admins.username}">
                     </td>
                     
                      <td th:text="${admins.email}">
                      </td>
                    
                    
                     <td th:text="${admins.role}">
                     </td>
                      
              
      
                   

                    
      

                   
                      
                    <td>
                    
             <div class="form-group">
           		  <form method="get" action="#">
                  <a th:href=" @{'/modify-admin/' + ${admins.id}} " class="btn btn-outline-blue"  >
                    <i class="ft-edit font-medium-2 mr-auto"></i>
                  </a>
                 
                  
                  <button type="button" class="btn btn-outline-danger"  data-toggle="modal"
                   th:attr="data-target='#default'+*{admins.id}" >
                    <i class="ft-x font-medium-2 mr-auto"></i>
                  </button>
  								</form>
                  <!-- Modal -->
                  <div class="modal fade text-left" th:id="*{'default'+{admins.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-danger">
                          <h4 class="modal-title" id="myModalLabel1">Confirm :</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h4><span class="text-bold-600">Warning !</span></h4>
                          
                           <div class="alert alert-danger" role="alert">
                            Are you<span class="text-bold-600"> sure</span> you want to <span class="text-bold-600">delete</span> this User ?
                          </div>
                          
                          
                          
                         
                        </div>
                       
                        <div class="modal-footer">
                          <button type="button" class="btn grey btn-outline-dark" data-dismiss="modal">Close</button>
                            <form action="/delete">  
                           <input type="hidden" name="id" th:value="${admins.id}" />
                          <input type="submit" class="btn btn-outline-red" value="Delete" onclick="return "/>
                          
              </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
         
                   
          
          
          
     
          
          
          
                      
                    </td>
                    
                  
                      
                      
                      
                      
                      
                    
                  </tr>

               
                </tbody>
              
          
              
              <tfoot>
                <tr>
                   
                    
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                    
                   
                </tr>
              </tfoot>



             </table>

            </div>

          </div>
        
  </div>

</div>
</div>
</section>




         
        </div>
        <!-- END : End Main Content-->

        <!-- BEGIN : Footer-->
        	<div th:replace="fragments/footer :: footer">
  		</div>
        
        
        <!-- End : Footer-->
 </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

   <!-- Theme customizer Starts-->
    
    <div th:replace="fragments/customizer :: customizer">
    
  		</div>
    
    
   <!-- Theme customizer Ends-->
   
   
    <!-- BEGIN VENDOR JS-->
    <script src="app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="app-assets/vendors/js/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="app-assets/vendors/js/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="app-assets/js/app-sidebar.js" type="text/javascript"></script>
    <script src="app-assets/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="app-assets/js/customizer.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="app-assets/js/data-tables/datatable-api.js" type="text/javascript"></script>
        <script src="app-assets/js/components-modal.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
  <!-- END : Body-->
</html>